@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

:root {
  font-family: "Raleway", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.header {
  margin-top: 2.5%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 6.25rem);
  grid-template-rows: repeat(3, 1fr);
}

div {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
}

.player1 {
  color: #1f1;
}

.player2 {
  color: #f1f;
}
